[submodule "wofi-dracula"]
	path = wofi-dracula
	url = https://github.com/dracula/wofi.git
	ignore = dirty
[submodule "mechakotik-dots"]
	path = mechakotik-dots
	url = https://github.com/mechakotik/dots.git
